<app-navbar></app-navbar>

<mat-sidenav-container class="explore-content" ngClass.xs="xs">
  <mat-sidenav class="left-sidenav" opened mode="side">
    <mat-nav-list>

      <mat-list-item>
        <a matLine routerLinkActive="true" routerLink="explore" fxLayout="row" fxLayoutGap="0.4em" fxLayoutAlign="start center">
          <div class="sample-user-img-border" fxLayout="row" fxLayoutAlign="center center">
            <img src="/assets/images/sample-user.jpg" alt="sample-user" class="sample-user-img">
          </div>
          <span>John Doe</span>
        </a>

      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <a matLine routerLinkActive="true" routerLink="explore"><i class="fas fa-search fa-fw"></i>&nbsp;Search</a>
        <button mat-icon-button (click)="showInfo(link)">
          <span><i class="fas fa-info"></i></span>
        </button>
      </mat-list-item>

      <mat-list-item>
        <a matLine routerLinkActive="true" routerLink="explore"><i class="fas fa-list fa-fw"></i>&nbsp;My Library</a>
        <button mat-icon-button (click)="showInfo(link)">
          <span><i class="fas fa-info"></i></span>
        </button>
      </mat-list-item>

      <mat-list-item>
        <a matLine routerLinkActive="true" routerLink="explore"><i class="far fa-calendar-alt fa-fw"></i>&nbsp;View by Years</a>
        <button mat-icon-button (click)="showInfo(link)">
          <span><i class="fas fa-info"></i></span>
        </button>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav class="right-sidenav" opened mode="side" position="end">
    End content
  </mat-sidenav>

  <div class="main-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ea eos est illum iste libero quae quasi rem
    sit suscipit! Aliquam, animi doloremque est hic laudantium magnam odio suscipit ut!
  </div>
</mat-sidenav-container>
