<app-navbar [isExplore]="true"></app-navbar>

<mat-drawer-container class="content" ngClass.xs="xs">
  <mat-drawer class="left-sidenav" opened mode="side" fxHide.xs>
    <mat-action-list>

      <button mat-list-item routerLinkActive="true" routerLink="/explore/plan" class="action-list-btn"
              [ngClass]="router.url=='/explore/plan' ? 'selected' : ''"
              matTooltip="My Reading Plan" [matTooltipDisabled]=disableTooltip matTooltipPosition="right">
        <div fxLayout="row" fxLayoutAlign.xs="center">
          <i class="far fa-calendar-check fa-fw"></i>
          <span fxHide.lt-md>&nbsp;My Reading Plan</span>
        </div>
      </button>

      <button mat-list-item routerLinkActive="true" routerLink="/explore/library" class="action-list-btn"
              [ngClass]="(router.url=='/explore/library' || router.url=='/explore/search')  ? 'selected' : ''"
              matTooltip="My Library" [matTooltipDisabled]=disableTooltip matTooltipPosition="right">
        <div fxLayout="row" fxLayoutAlign.xs="center">
          <i class="fas fa-list fa-fw"></i>
          <span fxHide.lt-md>&nbsp;My Library</span>
        </div>
      </button>

      <button mat-list-item routerLinkActive="true" routerLink="/explore/account" class="action-list-btn"
              [ngClass]="router.url=='/explore/account' ? 'selected' : ''"
              matTooltip="My Account" [matTooltipDisabled]=disableTooltip matTooltipPosition="right">
        <div fxLayout="row" fxLayoutAlign.xs="center">
          <i class="fas fa-user fa-fw"></i>
          <span fxHide.lt-md>&nbsp;My Account</span>
        </div>
      </button>

    </mat-action-list>
  </mat-drawer>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

<div fxHide.gt-xs fxLayout="row" class="mobile-nav">
  <button mat-button routerLinkActive="true" routerLink="/explore/plan" class="action-list-btn-xs" fxFlex="100/3"
          [ngClass]="router.url=='/explore/plan' ? 'selected' : ''" matTooltip="My Reading Plan" matTooltipPosition="above">
    <div fxLayout="row" fxLayoutAlign="center">
      <i class="far fa-calendar-check fa-lg fa-fw"></i>
    </div>
  </button>

  <button mat-button routerLinkActive="true" routerLink="/explore/account" class="action-list-btn-xs" fxFlex="100/3"
          [ngClass]="router.url=='/explore/account' ? 'selected' : ''" matTooltip="My Account" matTooltipPosition="above">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="user-img-border" fxLayout="row" fxLayoutAlign="center center">
        <img src="/assets/images/sample-user.jpg" alt="user-profile-img" class="user-img">
      </div>
    </div>
  </button>

  <button mat-button routerLinkActive="true" routerLink="/explore/library" class="action-list-btn-xs" fxFlex="100/3"
          [ngClass]="(router.url=='/explore/library' || router.url=='/explore/search') ? 'selected' : ''" matTooltip="My Library" matTooltipPosition="above">
    <div fxLayout="row" fxLayoutAlign="center">
        <i class="fas fa-list fa-lg fa-fw"></i>
    </div>
  </button>
</div>
