$theme-color: #f5dd00;
$theme-secondary: #373737;

.explore-content {

  .left-sidenav {
    background-color: $theme-secondary;
    color: $theme-color;

    mat-action-list {
      .action-list-btn {
        color: $theme-color;
      }
    }
  }

  .main-content {
    min-height: 25em;
    height: 80vh;
  }
}

.sample-user-img-border {
  border: 1pt solid $theme-color;
  border-radius: 50%;
  padding: 0.1em;

  .sample-user-img {
    height: 2em;
    width: 2em;
    background-color: $theme-secondary;
    border-radius: 50%;
  }
}

.action-list-btn {
  background-color: $theme-secondary;
  color: $theme-color;
  border-radius: 0;
  padding: 0.5em;
}

.mobile-nav {
  z-index: 100;
  width: 100%;
  position: absolute;
  bottom: 0;
}
