$theme-color: #f5dd00;
$theme-secondary: #373737;

app-navbar {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
}

.explore-content {
  margin-top: 64px;
  height: calc(100% - 64px);

  .left-sidenav {
    background-color: $theme-secondary;
    color: $theme-color;

    mat-action-list {
      .action-list-btn {
        color: $theme-color;
      }
    }
  }
}

.explore-content.xs {
  margin-top: 56px;
  height: calc(100% - 56px);
}

.user-img-border {
  border: 1pt solid $theme-color;
  border-radius: 50%;
  padding: 0.1em;

  .user-img {
    height: 2em;
    width: 2em;
    background-color: $theme-secondary;
    border-radius: 50%;
  }
}

.action-list-btn {
  background-color: $theme-secondary;
  color: $theme-color;
  border-radius: 0;
  padding: 0.5em;
}

.mobile-nav {
  z-index: 100;
  width: 100%;
  position: fixed;
  bottom: 0;

  .mobile-nav-label {
    padding: 0;
  }
}
