$theme-color: #f5dd00;

.footer {
  height: auto;
  min-width: 30%;
  max-width: 100%;
  position: relative;
  padding: 1em 2em;
  bottom: 0;
  font-size: 1em;
  font-weight: 300;
  background-color: $theme-color;
}

.footer.xs {
  padding: 1em 0.5em;
}

.fa-heart {
  //color: rgba(255, 182, 193, 0.9);
  color: rgb(230, 0, 0);
}
