<div mat-dialog-content class="explore-first-time-dialog" fxLayout="column" fxLayoutGap="1em">
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="warning-message" fxLayout="column" fxLayoutGap="0.5em">
      <div class="message-header"><i class="fas fa-exclamation-triangle"></i> Keep in mind!</div>
      <div class="message-text">This library is temporary and exists for exploration purposes. Books added here will disappear when you clear your browser's cookies.</div>
    </div>
  </div>
</div>

<div mat-dialog-actions fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0.5em">
  <div fxLayout="column" fxLayoutAlign="start" fxFlex="50" fxFlex.xs="100">
    <mat-checkbox [(ngModel)]="dontShowAgain">Don't show me again</mat-checkbox>
  </div>

  <div fxLayout="row" fxLayoutAlign="end" fxFlex="50" fxFlex.xs="100">
    <button mat-stroked-button (click)="closeDialog()" class="close-btn" ngClass.xs="xs">OKAY</button>
  </div>
</div>
