<div mat-dialog-content class="gravatar-dialog" fxLayout="column" fxLayoutGap="1em">
  <div class="page-header">Change Profile Picture</div>

  <div>
    You can upload and update your profile picture for this app at Gravatar.
  </div>

  <div>
    <a href="https://en.gravatar.com/site/login" target="blank">
      <i class="fas fa-external-link-alt"></i>&nbsp;Change profile picture at Gravatar
    </a>
  </div>

</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-stroked-button (click)="closeDialog()" class="dialog-btn" ngClass.xs="xs">CLOSE</button>
</div>
