<div class="content" ngClass.xs="xs" fxLayout="column" fxLayoutGap="0.5em" [@contentAnimations]>

  <div fxLayout="column" fxLayoutGap="1em" class="content-element">
    <div class="page-header" ngClass.xs="xs">
      My Library
    </div>
  </div>

  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
    <app-progress-spinner></app-progress-spinner>
  </div>

  <div *ngIf="bookDTOArray.length == 0 && !isLoading" fxLayout="row" fxLayoutAlign="center" class="content-element">
    <div>
      <button mat-stroked-button routerLinkActive="true" [routerLink]="['/user', userService.username, 'library', 'add']" class="add-first-book-btn mat-elevation-z3">
        <span><i class="fas fa-plus"></i>&nbsp;ADD FIRST BOOK</span>
      </button>
    </div>
  </div>

  <!--FIXED ELEMENT: ADD BOOK TO LIBRARY BUTTON-->
  <button mat-icon-button class="add-book-btn mat-elevation-z3" routerLinkActive="true" [routerLink]="['/user', userService.username, 'library', 'add']"
          *ngIf="!isLoading && bookDTOArray.length > 0" matTooltip="Add book" matTooltipPosition="left">
    <i class="fas fa-plus"></i>
  </button>
</div>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" *ngIf="!isLoading && bookDTOArray.length > 0" [@bookCardAnimations] class="view-books-div">
  <app-book-card fxLayout.xs="row" *ngFor="let bookDTO of bookDTOArray" bookCardType="library" [bookDTO]="bookDTO" (click)="openDialog(bookDTO)"></app-book-card>
</div>
