<div class="content" ngClass.xs="xs" fxLayout="column" fxLayoutGap="0.5em" [@contentAnimations]>

  <div class="page-header content-element" ngClass.xs="xs">
    My Library
  </div>

  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
    <app-progress-spinner></app-progress-spinner>
  </div>

  <div *ngIf="bookDTOArray.length == 0" fxLayout="row" fxLayoutAlign="center" class="no-books-div content-element">
    <div fxLayout="column" fxLayoutGap="1em">
      <div fxLayout="row" fxLayoutAlign="center center">
        <i class="fas fa-book-open fa-2x"></i>
      </div>

      <div class="no-books-header">
        Looks like you're just getting started.<br>
        Let's search for some books to add!
      </div>

      <button mat-stroked-button routerLinkActive="true" [routerLink]="['/user', userService.username, 'library', 'add']" class="add-first-book-btn mat-elevation-z3">
        <span><i class="fas fa-plus"></i>&nbsp;ADD FIRST BOOK</span>
      </button>
    </div>
  </div>

  <!--FIXED MOBILE ELEMENT: ADD BOOK TO LIBRARY BUTTON-->
  <button mat-icon-button class="add-book-btn mobile mat-elevation-z3" fxHide.gt-xs [routerLink]="['/user', userService.username, 'library', 'add']"
      *ngIf="!isLoading && bookDTOArray.length > 0" matTooltip="Add book" matTooltipPosition="left">
    <i class="fas fa-plus"></i>
  </button>

  <!--FIXED DESKTOP ELEMENT: ADD BOOK TO LIBRARY BUTTON-->
  <button mat-stroked-button class="add-book-btn desktop mat-elevation-z4" fxHide.xs [routerLink]="['/user', userService.username, 'library', 'add']"
      *ngIf="!isLoading && bookDTOArray.length > 0">
    <span><i class="fas fa-plus"></i>&nbsp;NEW BOOK</span>
  </button>

  <app-view-books class="content-element" *ngIf="!isLoading && bookDTOArray.length > 0" [bookCardType]="bookCardType" [bookDTOArray]="bookDTOArray"></app-view-books>
</div>

