$theme-color: #f5dd00;
$theme-secondary: #373737;
$danger-color: #ff0000;

.content {
  color: $theme-secondary;
  padding: 0.5em;

  .plan-name {
    font-size: 1.3em;
    font-weight: 700;
  }

  .plan-description {
    margin-top: -0.6em;
    font-size: 0.8em;
    font-style: italic;
  }

  // PLAN SECTION
  .plan-section-container {
    width: auto;
    max-width: 100/3;
    margin: 0 5px;
    display: inline-block;
    vertical-align: top;

    .plan-section-label {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 0.5em;

      .mat-badge-content {
        margin-top: 0.7em;
      }
    }

    .book-list {
      border: solid 1px #ccc;
      min-height: 30px;
      background: white;
      border-radius: 4px;
      overflow: hidden;
      display: block;

      .add-book-box {
        padding-left: 10px;
        user-select: none;
        color: $theme-color;
        background-color: $theme-secondary;
        font-weight: 500;
        transition: 0.2s;
      }

      .add-book-box:hover {
        cursor: pointer;
        color: $theme-color;
        background-color: #232323;
        transition: 0.2s;
      }

      .book-box:last-child {
        border: none;
      }
    }
  }

  .plan-section-container.left {
    margin: 0 5px 0 0;
  }

  .plan-section-container.right {
    margin: 0 0 0 5px;
  }

  //DROP ZONES
  .drop-zones {
    position: fixed;
    right: 0.5em;
    bottom: 120px;

    .drop-zone {
      height: 50px;
      width: 230px;
      border-radius: 5px;
      border: 1.5pt solid $theme-color;
      background-color: $theme-secondary;
      font-size: 0.75em;
      font-weight: 600;
      color: $theme-color;
      user-select: none;
      z-index: 100;
      transition: 0.3s;

      .drop-zone-hover-icon {
        position: absolute;
        left: 10px;
      }

      .drop-zone-text {
        height: 100%;
      }
    }

    .drop-zone.remove {
      color: $danger-color;
      border-color: $danger-color;
      background-color: $theme-secondary;
    }
  }

  .drop-zones.show {
    .drop-zone.hover {
      opacity: 1;
      transform: scale(1.05);
      box-shadow: 0 0 20px $theme-color;
    }

    .remove.hover {
      box-shadow: 0 0 20px $danger-color;
    }
  }

  .drop-zones.desktop {
    bottom: 2.5em;
    right: 2.5em;
  }
}

.content.xs {
  padding: 0.5em 0 0 0;

  .plan-section-container {
    margin: 0;
    width: 100%;
  }

  .remove-container {
    bottom: 70px;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
  }
}

.book-box {
  padding-right: 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 12px;
  height: 50px;
  overflow-y: hidden;
  user-select: none;

  .cdk-drag-handle {
    padding: 1em;
    color: #a9a9a9;
    cursor: move;
  }
}

// CDK DRAG
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: 0.9;
  z-index: 90;
}

.cdk-drag-placeholder {
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.book-list.cdk-drop-list-dragging .book-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.plan-action-btn {
  transition: 0.2s;

}

.plan-action-btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.delete-plan-btn {
  color: $danger-color;
}
