<div class="content" ngClass.xs="xs" fxLayout="column" fxLayoutGap="1em" [@contentAnimations]>

  <div fxLayout="row" fxLayoutAlign="start center" class="content-element">
    <div class="plan-name">{{currentPlan.name}}</div>

    <button mat-icon-button (click)="togglePlanActions()" [@planGearAnimations]="gearTurn">
      <i class="fas fa-cog"></i>
    </button>

    <div [@planActionAnimations] *ngIf="planActionsVisible==true">
      <button mat-icon-button class="edit-plan-btn plan-action-btn" (click)="editPlan()" matTooltip="Edit Plan" matTooltipPosition="above">
        <i class="far fa-edit fa-fw"></i>
      </button>

      <button mat-icon-button class="delete-plan-btn plan-action-btn" (click)="deletePlan()" matTooltip="Delete Plan" matTooltipPosition="above">
        <i class="far fa-trash-alt fa-fw"></i>
      </button>
    </div>

  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0.5em">

    <!--TO READ SECTION-->
    <div class="plan-section-container content-element" fxFlex="100/3">
      <div class="plan-section-label">To Read</div>
      <div class="book-list"
           cdkDropList #toReadList="cdkDropList" [cdkDropListData]="toRead"
           [cdkDropListConnectedTo]="[readingList, doneList, removeBox, mobileReadingList, mobileDoneList, mobileRemoveBox]"
           (cdkDropListDropped)="drop($event)">

        <!--ADD BOOK TO PLAN-->
        <div class="book-box add-book-box" routerLinkActive="true" routerLink="/explore/johndoe123/plan/add"
             fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.7em">
          <div><i class="fas fa-plus fa-fw"></i></div>
          <div>ADD BOOK TO PLAN</div>
        </div>

        <div class="book-box" *ngFor="let book of toRead" cdkDrag (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded()"
             fxLayout="row" fxLayoutAlign="start center">
          <div cdkDragHandle class="cdk-drag-handle"><i class="fas fa-grip-vertical fa-fw"></i></div>
          <div><a href="javascript:void(0)" (click)="openDialog(book)">{{book.title}}</a></div>
        </div>
      </div>
    </div>

    <!--READING SECTION-->
    <div class="plan-section-container content-element" fxFlex="100/3">
      <div class="plan-section-label">Reading</div>
      <div class="book-list"
           cdkDropList #readingList="cdkDropList" [cdkDropListData]="reading"
           [cdkDropListConnectedTo]="[toReadList, doneList, removeBox, mobileToReadList, mobileDoneList, mobileRemoveBox]"
           (cdkDropListDropped)="drop($event)">
        <div class="book-box" *ngFor="let book of reading" cdkDrag (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded()"
             fxLayout="row" fxLayoutAlign="start center">
          <div cdkDragHandle class="cdk-drag-handle"><i class="fas fa-grip-vertical fa-fw"></i></div>
          <div><a href="javascript:void(0)" (click)="openDialog(book)">{{book.title}}</a></div>
        </div>
      </div>
    </div>

    <!--DONE SECTION-->
    <div class="plan-section-container content-element" fxFlex="100/3">
      <div class="plan-section-label">Done</div>
      <div class="book-list"
           cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
           [cdkDropListConnectedTo]="[toReadList, readingList, removeBox, mobileToReadList, mobileReadingList, mobileRemoveBox]"
           (cdkDropListDropped)="drop($event)">
        <div class="book-box" *ngFor="let book of done" cdkDrag (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded()"
             fxLayout="row" fxLayoutAlign="start center">
          <div cdkDragHandle class="cdk-drag-handle"><i class="fas fa-grip-vertical fa-fw"></i></div>
          <div><a href="javascript:void(0)" (click)="openDialog(book)">{{book.title}}</a></div>
        </div>
      </div>
    </div>

  </div>

  <!--FIXED ELEMENT: DESKTOP DROP ZONES-->
  <div class="drop-zones desktop" fxHide.xs [ngClass]="dragging ? 'show' : ''" [@dropZoneAnimations]="dropZoneState">

    <!--DROP ZONE: REMOVE-->
    <div class="drop-zone remove" [ngClass]="inRemoveZone ? 'hover' : ''"
         cdkDropList #removeBox="cdkDropList" [cdkDropListData]="remove"
         [cdkDropListConnectedTo]="[toReadList, readingList, doneList, mobileToReadList, mobileReadingList, mobileDoneList]"
         (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="enteredRemoveZone()" (cdkDropListExited)="leftRemoveZone()">
      <div class="drop-zone-text" fxLayout="row" fxLayoutAlign="center center">
        <span class="drop-zone-hover-icon" *ngIf="inRemoveZone" [@dropZoneIconAnimations]><i class="fas fa-minus-circle fa-lg fa-fw"></i></span>
        <span>{{inRemoveZone ? 'DROP TO REMOVE' : 'REMOVE FROM PLAN'}}</span>
      </div>
    </div>

  </div>

  <!--FIXED ELEMENT: MOBILE DROP ZONES-->
  <div class="drop-zones mobile" fxHide.gt-xs [ngClass]="dragging ? 'show' : ''" fxLayout="column" fxLayoutGap="0.5em" [@dropZoneAnimations]="dropZoneState">

    <!--DROP ZONE: TO READ-->
    <div class="drop-zone to-read" [ngClass]="inToReadZone ? 'hover' : ''"
         cdkDropList #mobileToReadList="cdkDropList" [cdkDropListData]="toRead"
         [cdkDropListConnectedTo]="[mobileReadingList, mobileDoneList, mobileRemoveBox]"
         (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="enteredToReadZone()" (cdkDropListExited)="leftToReadZone()">
      <div class="drop-zone-text" fxLayout="row" fxLayoutAlign="center center">
        <span class="drop-zone-hover-icon" *ngIf="inToReadZone" [@dropZoneIconAnimations]><i class="fas fa-chevron-circle-right fa-lg fa-fw"></i></span>
        <span>TO READ</span>
      </div>
    </div>

    <!--DROP ZONE: READING-->
    <div class="drop-zone reading" [ngClass]="inReadingZone ? 'hover' : ''"
         cdkDropList #mobileReadingList="cdkDropList" [cdkDropListData]="reading"
         [cdkDropListConnectedTo]="[mobileToReadList, mobileDoneList, mobileRemoveBox]"
         (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="enteredReadingZone()" (cdkDropListExited)="leftReadingZone()">
      <div class="drop-zone-text" fxLayout="row" fxLayoutAlign="center center">
        <span class="drop-zone-hover-icon" *ngIf="inReadingZone" [@dropZoneIconAnimations]><i class="fas fa-chevron-circle-right fa-lg fa-fw"></i></span>
        <span>READING</span>
      </div>
    </div>

    <!--DROP ZONE: DONE-->
    <div class="drop-zone done" [ngClass]="inDoneZone ? 'hover' : ''"
         cdkDropList #mobileDoneList="cdkDropList"
         [cdkDropListData]="done" [cdkDropListConnectedTo]="[mobileToReadList, mobileReadingList, mobileRemoveBox]"
         (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="enteredDoneZone()" (cdkDropListExited)="leftDoneZone()">
      <div class="drop-zone-text" fxLayout="row" fxLayoutAlign="center center">
        <span class="drop-zone-hover-icon" *ngIf="inDoneZone" [@dropZoneIconAnimations]><i class="fas fa-chevron-circle-right fa-lg fa-fw"></i></span>
        <span>DONE</span>
      </div>
    </div>

    <!--DROP ZONE: REMOVE-->
    <div class="drop-zone remove" [ngClass]="inRemoveZone ? 'hover' : ''"
         cdkDropList #mobileRemoveBox="cdkDropList" [cdkDropListData]="remove"
         [cdkDropListConnectedTo]="[mobileToReadList, mobileReadingList, mobileDoneList]"
         (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="enteredRemoveZone()" (cdkDropListExited)="leftRemoveZone()">
      <div class="drop-zone-text" fxLayout="row" fxLayoutAlign="center center">
        <span class="drop-zone-hover-icon" *ngIf="inRemoveZone" [@dropZoneIconAnimations]><i class="fas fa-minus-circle fa-lg fa-fw"></i></span>
        <span>{{inRemoveZone ? 'DROP TO REMOVE' : 'REMOVE FROM PLAN'}}</span>
      </div>
    </div>

  </div>

</div>
