.explore-my-library-content {
  padding: 1em;

  .warning {
    border: 1pt solid #dbc800;
    border-radius: 0.2em;
    background-color: rgba(245, 221, 0, 0.21);
    padding: 0.5em 1em;

    .warning-header {
      font-size: 1em;
      font-weight: 500;
    }

    .warning-text {
      font-size: 0.8em;
    }
  }

  .no-books-header {
    font-size: 1.2em;
    font-weight: 500;
  }
}
