<div class="explore-my-library-content" fxLayout="column" fxLayoutGap="1em">

  <div fxLayout="row" fxLayoutAlign="center">
    <div class="warning" fxFlex="60" fxFlex.sm="100" fxFlex.xs="100">
      <div class="warning-header"><i class="fas fa-exclamation-triangle"></i> Keep in mind...</div>
      <div class="warning-text">This library is temporary and exists for exploration purposes. Books added here will disappear when you clear your browser's cookies.</div>
    </div>
  </div>

  <div *ngIf="bookDTOArray.length == 0" fxLayout="row" fxLayoutAlign="center">

    <div>
      <button mat-stroked-button routerLinkActive="true" routerLink="/explore/search">
        <span><i class="fas fa-plus"></i>&nbsp;ADD FIRST BOOK</span>
      </button>
    </div>

  </div>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" *ngIf="!isLoading && bookDTOArray.length > 0" [@bookCardAnimations] class="view-books-div">
    <app-book-card fxLayout="row" *ngFor="let bookDTO of bookDTOArray" [bookDTO]="bookDTO" (click)="openDialog(bookDTO)"></app-book-card>
  </div>

</div>
