$theme-color: #f5dd00;
$theme-secondary: #373737;

%add-book-btn {
  color: $theme-color;
  background-color: $theme-secondary;
}

.content {
  color: $theme-secondary;
  padding: 1em;

  .no-books-div {
    padding-top: 2em;

    .no-books-header {
      font-size: 1.1em;
      font-weight: 500;
    }
  }

  .add-first-book-btn {
    @extend %add-book-btn;
    z-index: 10;
  }

  .add-book-btn.desktop {
    @extend %add-book-btn;
    z-index: 10;
    position: fixed;
    bottom: 4em;
    right: 4em;
  }

  .add-book-btn.mobile {
    @extend %add-book-btn;
    z-index: 10;
    position: fixed;
    bottom: 6.5em;
    right: 2.5em;
  }
}
