<div class="content" ngClass.xs="xs" fxLayout="column" fxLayoutGap="0.5em" [@contentAnimations]>

  <div class="page-header content-element" ngClass.xs="xs">
    My Library <span class="explore-header"><i class="fas fa-exclamation-triangle"></i>&nbsp;DEMO</span>
  </div>

  <div fxLayout="row" class="content-element">

    <form [formGroup]="searchBookForm">
      <mat-form-field class="search-form-field">
        <mat-label>
          <span><i class="fas fa-search"></i> Search library</span>
        </mat-label>
        <input type="text" matInput formControlName="searchField" class="search-field" #searchField (keyup)="search()">
        <mat-hint>Search by title, author, genre</mat-hint>
      </mat-form-field>
    </form>

    <span class="spacer"></span>

    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-stroked-button [routerLink]="['/explore/johndoe123/library/add']" class="add-book-btn desktop" fxHide.xs>
        <span><i class="fas fa-plus"></i>&nbsp;NEW BOOK</span>
      </button>
    </div>

  </div>

  <div *ngIf="bookDTOArray.length == 0" fxLayout="row" fxLayoutAlign="center" class="content-element">
    <div>
      <button mat-stroked-button routerLinkActive="true" routerLink="/explore/library/add" class="add-first-book-btn mat-elevation-z3">
        <span><i class="fas fa-plus"></i>&nbsp;ADD FIRST BOOK</span>
      </button>
    </div>
  </div>

  <!--FIXED ELEMENT: ADD BOOK TO LIBRARY BUTTON-->
  <button mat-icon-button class="add-book-btn mobile mat-elevation-z3" fxHide.gt-xs
          routerLinkActive="true" routerLink="/explore/johndoe123/library/add"
          *ngIf="!isLoading && bookDTOArray.length > 0" matTooltip="Add book" matTooltipPosition="left">
    <i class="fas fa-plus"></i>
  </button>

</div>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" *ngIf="!isLoading && bookDTOArray.length > 0" [@bookCardAnimations] class="view-books-div" ngClass.xs="xs">
  <app-book-card fxLayout.xs="row" *ngFor="let bookDTO of filteredBookDTOArray" bookCardType="EXPLORE_LIBRARY" [bookDTO]="bookDTO" (click)="openDialog(bookDTO)"></app-book-card>
</div>

