<div class="content" ngClass.xs="xs" fxLayout="column" fxLayoutGap="0" [@contentAnimations]>

  <div fxLayout="column" fxLayoutGap="0.5em">
    <div class="page-header content-element" ngClass.xs="xs">
      My Reading Plans
    </div>

    <div fxLayout="row" fxLayoutGap="0.5em" class="year-btn-row content-element">
      <button mat-stroked-button (click)="createPlan()" class="add-plan-btn">
        <span><i class="fas fa-plus"></i>&nbsp;NEW PLAN</span>
      </button>
      <button mat-stroked-button *ngFor="let plan of plans" (click)="viewPlan(plan)"
              [ngClass]="currentPlan != null ? (currentPlan.id===plan.id ? 'plan-btn selected' : 'plan-btn') : 'plan-btn'">
        {{plan.name}}
      </button>
    </div>
  </div>

  <mat-divider class="content-element"></mat-divider>

  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="currentPlan != null && isLoading == true">
    <app-progress-spinner></app-progress-spinner>
  </div>

  <div *ngIf="currentPlan != null && isLoading == false">
    <app-user-plan-board [currentPlan]="currentPlan" [toRead]="toRead" [reading]="reading" [done]="done"></app-user-plan-board>
  </div>

</div>
