$theme-color: #f5dd00;

nav {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;

  mat-toolbar {
    background-color: $theme-color;

    button.logo-btn {
      font-size: 1em;
      font-weight: 700;
    }
  }
}
