<nav class="mat-elevation-z1">
  <mat-toolbar class="nav-toolbar">
    <mat-toolbar-row fxLayout="row" fxLayoutGap="0.5em">
      <button mat-button class="logo-btn" routerLinkActive="true" routerLink="/">MyBookRepo.com</button>
      <span class="spacer"></span>
      <button mat-button fxHide.xs routerLinkActive="true" routerLink="/about">ABOUT</button>
      <button mat-button fxHide.xs routerLinkActive="true" routerLink="/explore">EXPLORE</button>
      <button mat-stroked-button fxHide.xs routerLinkActive="true" routerLink="/login">LOG IN</button>
    </mat-toolbar-row>
    <mat-toolbar-row fxHide.gt-xs fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="center">
      <div><button mat-button routerLinkActive="true" routerLink="/about">ABOUT</button></div>
      <div><button mat-button routerLinkActive="true" routerLink="/explore">EXPLORE</button></div>
      <div><button mat-stroked-button routerLinkActive="true" routerLink="/login">LOG IN</button></div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
