$theme-color: #f5dd00;
$theme-secondary: #373737;

nav {
  width: 100%;
  z-index: 100;

  mat-toolbar {
    background-color: $theme-color;
    color: $theme-secondary;

    .mat-toolbar-row.xs {
       padding: 0 0.2em;
     }

    button.logo-btn {
      font-size: 0.9em;
      font-weight: 700;
    }

    button.logo-btn.xs {
      font-size: 0.7em;
      font-weight: 700;
    }

    .user-nav-btn {
      font-weight: 600;

      .user-img-border {
        height: 2.3em;
        width: 2.3em;
        border: 1.2pt solid $theme-secondary;
        border-radius: 50%;
        padding: 0.05em;
        margin-right: 0.3em;

        .user-img {
          background-color: rgba(255, 230, 0, 0);
          border-radius: 50%;
          height: 1.9em;
          width: 1.9em;
        }
      }
    }
  }
}
