<nav class="mat-elevation-z1">
  <mat-toolbar class="nav-toolbar" *ngIf="isExplore!=true">
    <mat-toolbar-row fxLayout="row" fxLayoutGap="0.5em" class="mat-toolbar-row" ngClass.xs="xs">
      <button mat-button class="logo-btn" ngClass.xs="xs" routerLinkActive="true" routerLink="/">MyBookRepo.com</button>

      <span class="spacer"></span>

      <ng-container *ngIf="userService.accessToken==null">
        <button mat-button routerLinkActive="true" routerLink="/about" fxHide.xs>ABOUT</button>
        <button mat-button routerLinkActive="true" routerLink="/explore/reading-plan" fxHide.xs>EXPLORE</button>
        <button mat-stroked-button routerLinkActive="true" routerLink="/login" fxHide.xs>LOG IN</button>
      </ng-container>

      <button mat-button [matMenuTriggerFor]="appMenu" *ngIf="userService.accessToken != null" class="user-nav-btn">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="user-img-border" fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
            <img [src]="userService.gravatarProfileImg" class="user-img" alt="user-profile-img">
          </div>
          <div>{{userService.userFullName}}</div>
        </div>
      </button>

      <mat-menu #appMenu="matMenu" yPosition="below" xPosition="before">
        <button mat-menu-item routerLinkActive="true" routerLink="library">My Library</button>
        <button mat-menu-item routerLinkActive="true" routerLink="profile">My Profile</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()"><i class="fas fa-sign-out-alt fa-fw"></i>&nbsp;Log Out</button>
      </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row fxHide.gt-xs fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="center" *ngIf="userService.accessToken==null">
      <div><button mat-button routerLinkActive="true" routerLink="/about">ABOUT</button></div>
      <div><button mat-button routerLinkActive="true" routerLink="/explore/reading-plan">EXPLORE</button></div>
      <div><button mat-stroked-button routerLinkActive="true" routerLink="/login">LOG IN</button></div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar class="nav-toolbar" *ngIf="isExplore==true">
    <mat-toolbar-row fxLayout="row" fxLayoutGap="0.5em" class="mat-toolbar-row" ngClass.xs="xs">
      <button mat-button class="logo-btn" ngClass.xs="xs" routerLinkActive="true" routerLink="/">MyBookRepo.com</button>

      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="appExploreMenu" class="user-nav-btn">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="user-img-border" fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
            <img src="/assets/images/sample-user.jpg" class="user-img" alt="user-profile-img">
          </div>
          <div>John Doe</div>
        </div>
      </button>

      <mat-menu #appExploreMenu="matMenu" yPosition="below" xPosition="before">
        <button mat-menu-item routerLinkActive="true" routerLink=""><i class="fas fa-sign-out-alt fa-fw"></i>&nbsp;Log Out</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
