<div mat-dialog-content class="book-info-dialog">

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em" fxLayoutGap.xs="0.5em" class="book-header">
    <div fxLayoutAlign="center start">
      <img [src]="data.book._coverImageURL" alt="" class="book-cover-thumbnail" *ngIf="data.book._coverImageURL!=null">
      <div class="book-cover-thumbnail-blank" *ngIf="data.book._coverImageURL==null" fxLayoutAlign="center center">
        No Book Cover
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="start start">
      <div>
        <div class="book-title">{{data.book._title}}</div>
        <div class="book-author" *ngIf="data.book._authors!=undefined && data.book._authors!=null">
          <span *ngFor="let author of data.book._authors; let last = last;">
            <span *ngIf="author!=undefined && author!=null">
              <span *ngIf="author._firstName!=undefined">{{author._firstName}}&nbsp;</span>
              <span *ngIf="author._middleName!=undefined">{{author._middleName}}&nbsp;</span>
              <span *ngIf="author._lastName!=undefined">{{author._lastName}}</span>
              <span *ngIf="!last">, </span>
            </span>
          </span>
        </div>
      </div>
      <div class="book-description">
        {{data.book._description!=null ? data.book._description : 'No description provided.'}}
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="book-details" fxLayout="column">
    <div *ngIf="data.book._categories!=null">
      <span class="bold">Genre:</span>&nbsp;
      <span *ngFor="let category of data.book._categories; let last = last;">
        <span *ngIf="category!=undefined && category!=null">
          <span *ngIf="category.name!=undefined">{{category.name}}</span>
          <span *ngIf="!last">, </span>
        </span>
      </span>
    </div>
    <div *ngIf="data.book._publisher!=null"><span class="bold">Publisher:</span> {{data.book._publisher}}</div>
    <div *ngIf="data.book._publishedDate!=null"><span class="bold">Published:</span> {{data.book._publishedDate}}</div>
    <div *ngIf="data.book._pageCount!=null"><span class="bold">Pages:</span> {{data.book._pageCount}}</div>
    <div *ngIf="data.book._isbn10!=null"><span class="bold">ISBN 10:</span> {{data.book._isbn10}}</div>
    <div *ngIf="data.book._isbn13!=null"><span class="bold">ISBN 13:</span> {{data.book._isbn13}}</div>
    <div *ngIf="data.book._otherIdType!=null"><span class="bold">Other ID Type:</span> {{data.book._otherIdType}}</div>
  </div>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.xs="center" fxLayoutGap="0.5em" fxLayoutGap.xs="2%">
  <button mat-stroked-button (click)="closeDialog()" class="close-btn" fxFlex.xs="49%" ngClass.xs="xs">
    <span><i class="fas fa-times-circle fa-fw"></i>&nbsp;CLOSE</span>
  </button>
  <button mat-stroked-button *ngIf="data.type=='VIEW'" (click)="removeBook(data.book)" class="remove-btn" fxFlex.xs="49%" ngClass.xs="xs">
    <span><i class="fas fa-minus-circle fa-fw"></i>&nbsp;REMOVE</span>
  </button>
  <button mat-stroked-button *ngIf="data.type=='NEW'" (click)="addBook(data.book)" class="add-btn" fxFlex.xs="49%" ngClass.xs="xs">
    <span><i class="fas fa-plus-circle fa-fw"></i>&nbsp;ADD</span>
  </button>
  <button mat-stroked-button *ngIf="data.type=='EXPLORE_VIEW'" (click)="exploreRemoveBook(data.book)" class="remove-btn" fxFlex.xs="49%" ngClass.xs="xs">
    <span><i class="fas fa-minus-circle fa-fw"></i>&nbsp;REMOVE</span>
  </button>
  <button mat-stroked-button *ngIf="data.type=='EXPLORE_NEW'" (click)="exploreAddBook(data.book)" class="add-btn" fxFlex.xs="49%" ngClass.xs="xs">
    <span><i class="fas fa-plus-circle fa-fw"></i>&nbsp;ADD</span>
  </button>
</div>
