<div class="content" ngClass.xs="xs" fxLayout="column" fxLayoutGap="1em" [@contentAnimations]>

  <div fxLayout="row" fxLayoutAlign="start start" class="content-element">
    <div class="page-header" ngClass.xs="xs">Add Book to Plan <span class="explore-header">DEMO</span></div>
    <span class="spacer"></span>
    <button mat-icon-button routerLinkActive="true" routerLink="/explore/johndoe123/plan">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
    <app-progress-spinner></app-progress-spinner>
  </div>

  <div *ngIf="bookDTOArray.length == 0" fxLayout="row" fxLayoutAlign="center" class="content-element">
    <div>
      It looks like you have no books in your library yet.
    </div>
  </div>

  <app-view-books class="content-element" *ngIf="!isLoading && bookDTOArray.length > 0" [bookCardType]="bookCardType" [bookDTOArray]="bookDTOArray"></app-view-books>
</div>


