<div class="container">
  <div class="content">

    <div fxLayout="row" fxLayoutAlign="end start">
      <button mat-icon-button (click)="leaveLogin()">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="login-card-div" ngClass.xs="xs" [@contentAnimations]>
      <div class="login-card" fxLayout="column" fxLayoutGap="0.5em" fxFlex="25" fxFlex.sm="40" fxFlex.xs="90">
        <div class="page-header content-element">Log In</div>
        <form [formGroup]="loginForm" fxLayout="column" fxLayoutGap="1em">
          <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.7em">

            <div fxLayout="row" fxLayoutAlign="center" *ngIf="userService.loginStatus.error==true" [@errorMessageAnimations]>
              <div class="error-message" fxFlex="60" fxFlex.sm="100" fxFlex.xs="100">
                <div class="message-header"><i class="far fa-times-circle"></i> Login Error</div>
                <div class="message-text">{{userService.loginStatus.message}}</div>
              </div>
            </div>

            <mat-form-field class="content-element">
              <mat-label>Username</mat-label>
              <input type="text" matInput formControlName="username" required (keyup.enter)="login()" [errorStateMatcher]="matcher">
              <mat-error *ngIf="loginForm.get('username').hasError('required')">
                Username is required.
              </mat-error>
            </mat-form-field>

            <mat-form-field class="content-element">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" required (keyup.enter)="login()" [errorStateMatcher]="matcher">
              <mat-error *ngIf="loginForm.get('password').hasError('required')">
                Password is required.
              </mat-error>
            </mat-form-field>

          </div>

          <button mat-stroked-button type="button" fxFlex="100" class="create-account-btn content-element" [disabled]="!loginForm.valid" (keyup.enter)="login()" (click)="login()">LOGIN</button>

          <div class="content-element" fxLayout="column">
            <a href="javascript:void(0)">I forgot my password</a>
            <a routerLinkActive="true" routerLink="/signup">Create an account</a>
          </div>

        </form>
      </div>
    </div>

  </div>

  <app-footer></app-footer>
</div>

