<div class="login-content">

  <div fxLayout="row" fxLayoutAlign="end start">
    <button mat-icon-button routerLinkActive="true" routerLink="">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="login-card-div" ngClass.xs="xs">
    <div class="login-card" fxLayout="column" fxLayoutGap="0.5em" fxFlex="25" fxFlex.sm="40" fxFlex.xs="90">
      <div class="page-header">Log In</div>
      <form [formGroup]="loginForm" fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.7em">
          
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username" required (keyup.enter)="login()" [errorStateMatcher]="matcher">
            <mat-error *ngIf="loginForm.get('username').hasError('required')">
              Username is required.
            </mat-error>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" required (keyup.enter)="login()" [errorStateMatcher]="matcher">
            <mat-error *ngIf="loginForm.get('password').hasError('required')">
              Password is required.
            </mat-error>
          </mat-form-field>
          
        </div>

        <button mat-stroked-button type="button" fxFlex="100" class="create-account-btn" [disabled]="!loginForm.valid" (keyup.enter)="login()" (click)="login()">LOGIN</button>

        <a href="javascript:void(0)">Forgot Password?</a>
      </form>
    </div>
  </div>

</div>
