.content {

  .login-card-div {
    height: 60vh;
    min-height: 18em;
  }

  .login-card-div.xs {
    height: auto;
    min-height: 12em;
  }

  a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
    transition: 0.3s;
  }

  a:hover, a:visited {
    color: #000000;
    text-decoration: underline;
    transition: 0.3s;
  }
}
