.login-content {

  .login-card-div {
    height: 60vh;
    min-height: 15em;
  }

  .login-card-div.xs {
    height: auto;
    min-height: 15em;
  }

  .page-title {
    font-size: 1.2em;
    font-weight: 600;
  }
}
