<mat-card class="book-card mat-elevation-z0" fxFlex.xs="100">
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="1em" class="book-header">
      <img src="{{bookDTO._coverImageURL}}" alt="" class="book-cover-thumbnail" *ngIf="bookDTO._coverImageURL!=null">
      <div class="book-cover-thumbnail-blank" *ngIf="bookDTO._coverImageURL==null" fxLayoutAlign="center center">
        No Book Cover
      </div>

      <div fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="start start">
        <div>
          <div class="book-title">{{abbreviateTitle(bookDTO._title)}}</div>
          <div class="book-author" *ngIf="bookDTO._authors!=undefined">
                <span *ngFor="let author of bookDTO._authors; let last = last;">
                  <span *ngIf="author!=undefined">
                    <span *ngIf="author._firstName!=undefined">{{author._firstName}}&nbsp;</span>
                    <span *ngIf="author._middleName!=undefined">{{author._middleName}}&nbsp;</span>
                    <span *ngIf="author._lastName!=undefined">{{author._lastName}}</span>
                    <span *ngIf="!last">, </span>
                  </span>
                </span>
          </div>
        </div>
        <div class="book-description" *ngIf="bookDTO._description!=undefined">
          {{abbreviateDescription(bookDTO._description)}}
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
