<div class="content" ngClass.xs="xs" fxLayout="column" [@contentAnimations]>

  <div fxLayout="row" fxLayoutAlign="start start" class="content-element">
    <div class="page-header" ngClass.xs="xs">Add New Book <span class="explore-header">DEMO</span></div>

    <span class="spacer"></span>

    <div fxLayout="row" fxLayoutGap="0.1em">
      <button mat-icon-button class="view-books-type-btn" matTooltip="Cards"
              [ngClass]="viewBooksType=='cards' ? 'selected' : ''" (click)="viewTypeChange('cards')">
        <span><i class="fas fa-th-large"></i></span>
      </button>
      <button mat-icon-button class="view-books-type-btn" matTooltip="Table"
              [ngClass]="viewBooksType=='table' ? 'selected' : ''" (click)="viewTypeChange('table')">
        <span><i class="fas fa-list"></i></span>
      </button>
    </div>

    <button mat-icon-button routerLinkActive="true" routerLink="/explore/johndoe123/library">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" class="content-element">
    <div class="search-form-div" fxLayout="row" fxLayoutAlign="center" fxFlex="100">
      <form (submit)="searchBooks()" [formGroup]="searchBookForm" fxLayout="row" fxLayout.xs="column"
            fxLayoutGap="0.5em" fxLayoutGap.xs="0" fxFlex="100" fxLayoutAlign="center end">

        <mat-form-field class="search-form-field">
          <mat-label>
            Search for new books
          </mat-label>
          <input type="text" matInput formControlName="searchField" class="search-field" #searchField>
          <mat-hint>Search by title, author, ISBN number</mat-hint>
        </mat-form-field>

        <div fxLayoutAlign="end" class="search-btn-div">
          <button type="button" mat-stroked-button class="search-btn" (click)="searchBooks()">
            <span><i class="fas fa-search"></i>&nbsp;SEARCH</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoading==true">
    <app-progress-spinner></app-progress-spinner>
  </div>

  <div class="content-element">
    <app-book-table *ngIf="!isLoading && bookDTOArray.length > 0 && viewBooksType=='table'" [bookDTOArray]="bookDTOArray" [bookCardType]="bookCardType"></app-book-table>
    <app-book-cards *ngIf="!isLoading && bookDTOArray.length > 0 && viewBooksType=='cards'" [bookDTOArray]="bookDTOArray" [bookCardType]="bookCardType"></app-book-cards>
  </div>
</div>
