<div class="content" ngClass.xs="xs" fxLayout="column" fxLayoutGap="1em" [@contentAnimations]>

  <div fxLayout="row" fxLayoutAlign="start start" class="content-element">
    <div class="page-header" ngClass.xs="xs">Add Book to Plan</div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="leaveAddBook()">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
    <app-progress-spinner></app-progress-spinner>
  </div>

  <app-view-books class="content-element" *ngIf="!isLoading && bookDTOArray.length > 0" [planId]="currentPlanId" [bookCardType]="bookCardType" [bookDTOArray]="bookDTOArray"></app-view-books>
</div>
