<mat-card class="book-card mat-elevation-z0" ngClass.xs="xs">
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="1em" class="book-header">
      <img src="{{bookDTO.coverImageURL}}" alt="book-cover-thumbnail" class="book-cover-thumbnail mat-elevation-z1" *ngIf="bookDTO.coverImageURL!=null">
      <div class="book-cover-thumbnail-blank" *ngIf="bookDTO.coverImageURL==null" fxLayoutAlign="center center">
        No Book Cover
      </div>

      <div fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="start start">
        <div>
          <div class="book-title">{{abbreviateTitle(bookDTO.title)}}</div>
          <div class="book-author" *ngIf="bookDTO.authors!=undefined">
                <span *ngFor="let author of bookDTO.authors; let last = last;">
                  <span *ngIf="author!=undefined">
                    <span *ngIf="author.firstName!=undefined">{{author.firstName}}&nbsp;</span>
                    <span *ngIf="author.middleName!=undefined">{{author.middleName}}&nbsp;</span>
                    <span *ngIf="author.lastName!=undefined">{{author.lastName}}</span>
                    <span *ngIf="!last">, </span>
                  </span>
                </span>
          </div>
        </div>
        <div class="book-description" *ngIf="(bookCardType=='NEW' || bookCardType=='EXPLORE_NEW') && bookDTO.description!=undefined">
          {{abbreviateDescription(bookDTO.description)}}
        </div>
        <div class="book-library" *ngIf="bookCardType=='LIBRARY' || bookCardType=='PLAN_ADD' || bookCardType=='EXPLORE_LIBRARY' || bookCardType=='EXPLORE_PLAN_ADD'"
             fxLayout="row" fxLayoutAlign="end">
          <div fxLayout="column" fxLayoutGap="0.5em">
            <mat-chip-list>
              <mat-chip *ngFor="let category of bookDTO.categories" class="category-chip">
                {{category.name}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
