$theme-color: #f5dd00;
$theme-secondary: rgba(55, 55, 55, 0.75);

.explore-search-content {
  .search-form-div {
    padding: 1em;

    .search-form-field {
      width: 30em;
      font-size: 1em;
    }

    .search-btn-div {
      margin-bottom: 20px;

      .search-btn {
        border-radius: 0.1em;
      }
    }
  }

  .search-results-div {
  }
}

.explore-search-content.xs {
  .search-form-div {
    .search-form-field {
      width: 20em;
    }
  }
}

.book-card {
  margin: 0.3em;
  width: 20em;
  height: 10em;
  border: solid 1pt rgba(0, 0, 0, 0.11);
  border-radius: 0.2em;
  background-color: rgba(80, 80, 80, 0);
  transition: 0.2s;

  .book-cover-thumbnail {
    height: auto;
    max-height: 9em;
    width: 6em;
    max-width: 6em;
  }

  div.book-cover-thumbnail-blank {
    border: solid 1pt rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    height: 9em;
    min-width: 6em;
  }

  .book-header {
    padding-bottom: 1em;

    .book-title {
      font-size: 1.2em;
      font-weight: 500;
    }

    .book-author {
      font-style: italic;
      font-size: 0.8em;
      font-weight: 300;
    }

    .book-description {
      font-size: 0.8em;
      font-weight: 300;
    }
  }

  .book-details {
    padding-top: 1em;
    font-size: 0.8em;
    font-weight: 300;

    .bold {
      font-weight: 400;
    }
  }
}

.book-card.xs {
  width: 100%;
}

.book-card:hover {
  transform: scale(1.01);
  background-color: rgba(227, 227, 227, 0.52);
  cursor: pointer;
  transition: 0.2s;
}
