<div class="container">
  <div class="content">

    <div fxLayout="row" fxLayoutAlign="end start">
      <button mat-icon-button routerLinkActive="true" routerLink="">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="signup-card-div" ngClass.xs="xs" [@contentAnimations]>
      <div class="signup-card" fxLayout="column" fxLayoutGap="0.5em" fxFlex="40" fxFlex.sm="60" fxFlex.xs="90">
        <div class="page-header content-element">Sign Up</div>
        <form [formGroup]="signupForm" fxLayout="column" fxLayoutGap="1.5em" fxLayoutGap.xs="1em">
          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1em" fxLayoutGap.xs="1em" class="content-element">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input type="text" matInput formControlName="username" maxlength="15" required (keyup)="checkUsernameInDB()" (keyup.enter)="signup()" [errorStateMatcher]="matcher">
              <mat-error *ngIf="signupForm.get('username').hasError('required')">
                Username is required.
              </mat-error>
              <mat-error *ngIf="signupForm.get('username').hasError('usernameNotAvailable')">
                This username has been taken.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" required (keyup)="checkEmailInDB()" (keyup.enter)="signup()" [errorStateMatcher]="matcher">
              <mat-error *ngIf="signupForm.get('email').hasError('required')">
                Email is required.
              </mat-error>
              <mat-error *ngIf="signupForm.get('email').hasError('email')">
                Enter a valid email address.
              </mat-error>
              <mat-error *ngIf="signupForm.get('email').hasError('emailNotAvailable')">
                This email is already associated with an account.
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1em" fxLayoutGap.xs="1em" class="content-element">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input type="text" matInput formControlName="firstName" required (keyup.enter)="signup()" [errorStateMatcher]="matcher">
              <mat-error *ngIf="signupForm.get('firstName').hasError('required')">
                First name is required.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input type="text" matInput formControlName="lastName" required (keyup.enter)="signup()" [errorStateMatcher]="matcher">
              <mat-error *ngIf="signupForm.get('lastName').hasError('required')">
                Last name is required.
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="column" fxLayoutGap="1em" class="content-element">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" required (keyup)="verifyPassword()" (keyup.enter)="signup()" [errorStateMatcher]="matcher">
              <mat-error *ngIf="signupForm.get('password').hasError('required')">
                Password is required.
              </mat-error>
              <mat-error *ngIf="signupForm.get('password').hasError('passwordsDoNotMatch')">
                Passwords do not match.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput formControlName="passwordConfirm" required (keyup)="verifyPassword()" (keyup.enter)="signup()" [errorStateMatcher]="matcher">
              <mat-error *ngIf="signupForm.get('passwordConfirm').hasError('required')">
                Password is required.
              </mat-error>
              <mat-error *ngIf="signupForm.get('passwordConfirm').hasError('passwordsDoNotMatch')">
                Passwords do not match.
              </mat-error>
            </mat-form-field>
          </div>

          <button mat-stroked-button type="button" fxFlex="100" class="create-account-btn content-element" [disabled]="!signupForm.valid" (keyup.enter)="signup()" (click)="signup()">CREATE ACCOUNT</button>

          <div class="content-element">
            <a routerLinkActive="true" routerLink="/login">I already have an account</a>
          </div>
        </form>
      </div>
    </div>

  </div>

  <app-footer></app-footer>
</div>


