<div class="content" fxLayout="row" fxLayoutAlign="center">

  <div fxLayout="column" fxLayoutGap="1.5em" fxFlex="40" fxFlex.sm="50" fxFlex.xs="100" [@contentAnimations]>

    <div fxLayout="row" fxLayoutAlign="center" class="content-element">

      <div fxLayout="column" fxLayoutGap="0.2em">
        <div class="user-img-border  mat-elevation-z1" fxLayout="row" fxLayoutAlign="center center">
          <img [src]="userSerivce.gravatarProfileImg500" class="user-img" alt="user-img">
        </div>
        <div class="user-name">
          {{userSerivce.userFullName}}
        </div>
      </div>

    </div>

    <div class="content-element">
      <div fxLayout="row" fxLayoutGap="0.3em">
        <div class="profile-info-header"><i class="fas fa-user fa-fw"></i>
          Username:
        </div>
        <div>{{userSerivce.userDTO.username}}</div>
      </div>
      <div fxLayout="row" fxLayoutGap="0.3em">
        <div class="profile-info-header"><i class="fas fa-envelope fa-fw"></i>
          Email:
        </div>
        <div>{{userSerivce.userDTO.email}}</div>
      </div>
      <div fxLayout="row" fxLayoutGap="0.3em">
        <div class="profile-info-header"><i class="fas fa-book fa-fw"></i>
          Books:
        </div>
        <div>{{bookDTOArray.length}}</div>
      </div>
    </div>

    <div fxLayout="column" class="content-element">
      <div class="profile-actions"><a href="javascript:void(0)">Change username</a></div>
      <div class="profile-actions"><a href="javascript:void(0)">Change password</a></div>
      <div class="profile-actions"><a href="javascript:void(0)">Change email</a></div>
      <div class="profile-actions"><a href="javascript:void(0)">Change profile picture</a></div>
    </div>

    <button mat-stroked-button (click)="userSerivce.logout()" class="content-element logout-btn">LOG OUT</button>

  </div>
</div>
