@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

$font-family: 'Montserrat', sans-serif;

body {
  font-family: $font-family;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}
