@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

$font-family: 'Montserrat', sans-serif;
$theme-color: #f5dd00;

html, body {
  height: 100%;
}

body {
  background-color: $theme-color;
  font-family: $font-family;
  margin: 0;
}

app-root {
  .container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .content {
      flex: 1 0 auto;
    }
  }

  .footer {
    flex-shrink: 0;

    a {
      color: rgba(0, 0, 0, 0.9);
      text-decoration: underline;
      transition: 0.3s;
    }

    a:hover, a:visited {
      color: #000000;
      text-decoration: underline;
      transition: 0.3s;
    }
  }
}

a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: underline;
  transition: 0.3s;
}

a:hover, a:visited {
  color: #000000;
  text-decoration: underline;
  transition: 0.3s;
}

.page-header {
  font-size: 1.5em;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

%message {
  border: 1pt solid;
  border-radius: 0.2em;
  padding: 0.5em 1em;

  .message-header {
    font-size: 1em;
    font-weight: 600;
  }

  .message-text {
    font-size: 0.8em;
  }
}

.warning-message {
  @extend %message;
  border-color: #dbc800;
  background-color: rgba(245, 221, 0, 0.2);
}

.error-message {
  @extend %message;
  border-color: #f44336;
  color: #f44336;
  background-color: rgba(255, 235, 239, 0);
}
