<div class="content" ngClass.xs="xs" fxLayout="column" fxLayoutGap="0" [@contentAnimations]>

  <div fxLayout="column" fxLayoutGap="0.5em">
    <div class="page-header content-element" ngClass.xs="xs">
      My Reading Plans <span class="explore-header">DEMO</span>
    </div>

    <div fxLayout="row" fxLayoutGap="0.5em" class="year-btn-row content-element">
      <button mat-stroked-button (click)="createPlan()" class="add-plan-btn">
        <span><i class="fas fa-plus"></i>&nbsp;NEW PLAN</span>
      </button>
      <button mat-stroked-button *ngFor="let plan of planArray" (click)="viewPlan(plan)"
              [ngClass]="currentPlan != null ? (currentPlan.name===plan.name ? 'plan-btn selected' : 'plan-btn') : 'plan-btn'">
        {{plan.name}}
      </button>
    </div>
  </div>

  <mat-divider class="content-element"></mat-divider>

  <div *ngIf="currentPlan != null">
    <app-explore-reading-plan-table [currentPlan]="currentPlan"></app-explore-reading-plan-table>
  </div>

</div>
