$theme-color: #f5dd00;
$theme-secondary: #373737;

.content {
  color: $theme-secondary;
  padding: 1em;

  .year-btn-row {
    overflow-x: scroll;
  }
}

.content.xs {
  .to-read-container {
    width: 100%;
  }

  .remove-container {
    bottom: 70px;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
  }
}


.to-read-container {
  width: 300px;
  max-width: 100/3;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;

  .to-read-section-header {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
}



.mobile-drop-zones {
  z-index: 100;
  position: fixed;
  top: 25%;
  right: 1em;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */

  .mobile-drop-zone {
    opacity: 0;
    height: 50px;
    width: 200px;
    border-radius: 3px;
    border: 1.5pt solid $theme-color;
    background-color: $theme-secondary;
    font-size: 0.75em;
    font-weight: 600;
    color: $theme-color;
    user-select: none;
    transition: 0.3s;

    .mobile-drop-zone-hover-icon {
      position: absolute;
      left: 10px;
    }

    .mobile-drop-zone-text {
      height: 100%;
    }
  }

  .mobile-drop-zone.remove-drop-zone {
    color: #c70000;
    border-color: #c70000;
    background-color: $theme-secondary;
  }
}

.mobile-drop-zones.show {
  .mobile-drop-zone {
    opacity: 0.95;
    transition: 0.3s;
  }

  .mobile-drop-zone.hover {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 0 20px $theme-color;
    transition: 0.3s;
  }

  .mobile-drop-zone.remove-drop-zone.hover {
    box-shadow: 0 0 20px #c70000;
  }
}


.remove-container {
  z-index: 100;
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
  height: 40px;
  width: 300px;
  font-size: 0.8em;
  opacity: 0;
  transition: 0.5s;
  background-color: rgba(255, 244, 240, 0.51);
}

.remove-container.show{
  opacity: 0.6;
  transition: 0.5s;
}

.remove-container.show.hover {
  opacity: 1;
  transform: scale(1.05);
  transition: 0.2s;
  box-shadow: 0 0 20px rgba(170, 0, 0, 0.8);
}

.drop-zone-text {
  height: 100%;
}

.remove-drop-zone {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  font-weight: 600;
  color: #aa0000;
  border: 1.5pt solid #aa0000;
  flex-direction: row;
  align-items: center;

  .to-read-section-header {
    height: 100%;
  }
}

.book-list {
  border: solid 1px #ccc;
  min-height: 30px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.book-box {
  padding-right: 5px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 12px;
  height: 50px;
  overflow-y: hidden;
  user-select: none;

  .cdk-drag-handle {
    padding: 1em;
    color: #a9a9a9;
    cursor: move;
  }
}

.add-book-box {
  padding-left: 10px;
  user-select: none;
}

.add-book-box:hover {
  cursor: pointer;
  background: #f5f5f5;
  transition: 0.2s;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: 0.9;
  z-index: 90;
}

.cdk-drag-placeholder {
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.book-box:last-child {
  border: none;
}

.book-list.cdk-drop-list-dragging .book-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
