$theme-color: #f5dd00;
$theme-secondary: #373737;

.content {
  color: $theme-secondary;
  padding: 1em;

  .add-plan-btn {
    font-size: 1em;
  }

  .btn-row {
    padding-bottom: 1em;

    .plan-btn-row {
      overflow-x: scroll;

      .plan-btn {
        font-size: 0.7em;
        min-width: auto;
      }

      .plan-btn.selected {
        background-color: #ebebeb;

      }
    }
  }
}
