<div class="content" ngClass.xs="xs" fxLayout="column" fxLayoutGap="1em">

  <div class="page-header" ngClass.xs="xs" fxHide.gt-sm>
    My Reading Plan
  </div>

  <div fxLayout="row" fxLayoutGap="0.5em" class="year-btn-row">
    <button mat-stroked-button>2019</button>
    <button mat-stroked-button>2018</button>
    <button mat-stroked-button>2017</button>
    <button mat-stroked-button>2016</button>
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0.5em">

    <div class="example-container" fxFlex="100/3">
      <div class="to-read-section-header">To Read</div>

      <div cdkDropList
        #toReadList="cdkDropList" [cdkDropListData]="toRead" [cdkDropListConnectedTo]="[readingList, doneList, removeBox]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let book of toRead" cdkDrag (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded()"
             fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.7em">
          <div cdkDragHandle fxHide.gt-xs class="cdk-drag-icon"><i class="fas fa-grip-vertical fa-fw"></i></div>
          <div>{{book.title}}</div>
        </div>
        <div class="example-box add-book-box" routerLinkActive="true" routerLink="/explore/search"
             fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.7em">
          <div><i class="fas fa-plus fa-fw"></i></div>
          <div>Add Book</div>
        </div>
      </div>
    </div>

    <div class="example-container" fxFlex="100/3">
      <div class="to-read-section-header">Reading</div>

      <div cdkDropList
        #readingList="cdkDropList" [cdkDropListData]="reading" [cdkDropListConnectedTo]="[toReadList, doneList, removeBox]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let book of reading" cdkDrag (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded()"
             fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.7em">
          <div cdkDragHandle fxHide.gt-xs class="cdk-drag-icon"><i class="fas fa-grip-vertical fa-fw"></i></div>
          <div>{{book.title}}</div>
        </div>
      </div>
    </div>

    <div class="example-container" fxFlex="100/3">
      <div class="to-read-section-header">Done</div>

      <div cdkDropList
        #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[toReadList, readingList, removeBox]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let book of done" cdkDrag (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded()"
             fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.7em">
          <div cdkDragHandle fxHide.gt-xs class="cdk-drag-icon"><i class="fas fa-grip-vertical fa-fw"></i></div>
          <div>{{book.title}}</div>
        </div>
      </div>
    </div>

    <div class="remove-container" fxHide.xs [ngClass]="dragging ? (inRemoveZone ? 'show hover' : 'show') : ''">
      <div cdkDropList
        #removeBox="cdkDropList"
        [cdkDropListData]="remove"
        [cdkDropListConnectedTo]="[toReadList, readingList, doneList]"
        class="remove-drop-zone"
        (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="enteredRemoveZone()" (cdkDropListExited)="leftRemoveZone()">
          <div class="remove-book-text-div" fxLayout="row" fxLayoutAlign="center center">
            <i class="far fa-calendar-times"></i>&nbsp;{{inRemoveZone ? 'DROP TO REMOVE' : 'REMOVE BOOK'}}
          </div>
      </div>
    </div>

    <!--MOBILE-->
    <div class="mobile-drop-zones" fxHide.gt-xs [ngClass]="dragging ? 'show' : ''" fxLayout="column" fxLayoutGap="1em">
      <div
        cdkDropList
        #toReadList="cdkDropList"
        [cdkDropListData]="toRead"
        [cdkDropListConnectedTo]="[readingList, doneList, removeBox]"
        class="mobile-drop-zone" [ngClass]="inToReadZone ? 'hover' : ''"
        (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="enteredToReadZone()" (cdkDropListExited)="leftToReadZone()">
        <div class="mobile-drop-zone-text" fxLayout="row" fxLayoutAlign="center center">
          <span *ngIf="inToReadZone"><i class="fas fa-arrow-right"></i>&nbsp;</span>TO READ
        </div>
      </div>

      <div
        cdkDropList
        #readingList="cdkDropList"
        [cdkDropListData]="reading"
        [cdkDropListConnectedTo]="[toReadList, doneList, removeBox]"
        class="mobile-drop-zone" [ngClass]="inReadingZone ? 'hover' : ''"
        (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="enteredReadingZone()" (cdkDropListExited)="leftReadingZone()">
        <div class="mobile-drop-zone-text" fxLayout="row" fxLayoutAlign="center center">
          <span *ngIf="inReadingZone"><i class="fas fa-arrow-right"></i>&nbsp;</span>READING
        </div>
      </div>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[toReadList, readingList, removeBox]"
        class="mobile-drop-zone" [ngClass]="inDoneZone ? 'hover' : ''"
        (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="enteredDoneZone()" (cdkDropListExited)="leftDoneZone()">
        <div class="mobile-drop-zone-text" fxLayout="row" fxLayoutAlign="center center">
          <span *ngIf="inDoneZone"><i class="fas fa-arrow-right"></i>&nbsp;</span>DONE
        </div>
      </div>

      <div
        cdkDropList
        #removeBox="cdkDropList"
        [cdkDropListData]="remove"
        [cdkDropListConnectedTo]="[toReadList, readingList, doneList]"
        class="mobile-drop-zone remove-drop-zone" [ngClass]="inRemoveZone ? 'hover' : ''"
        (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="enteredRemoveZone()" (cdkDropListExited)="leftRemoveZone()">
        <div class="mobile-drop-zone-text" fxLayout="row" fxLayoutAlign="center center">
          <span *ngIf="inRemoveZone"><i class="fas fa-minus-circle fa-fw"></i>&nbsp;</span>REMOVE BOOK
        </div>
      </div>

    </div>
  </div>

</div>
